<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Student Info</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/homelayout.css}" />
	<th:block layout:fragment="header"></th:block>	
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Student Info</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/students">Student List</a>
      </li>
    </ul>
  </div>
</nav>
	<div id="mainpanel">
		<th:block  layout:fragment="content"></th:block>
	</div>
		
	
  <script src="/js/jquery-3.3.1.min.js"></script>
  	<script src="/js/bootstrap.bundle.min.js"></script>
	<th:block layout:fragment="footer"></th:block>	
</body>
</html>
